
/* GRUNDSETTINGS */
:root {
    --off-black: #011114; /* Set the primary color */
    --off-white: #E2E2E2; /* Set the secondary color */
    --tertiary-color: #361556; /* Set the tertiary color */
}

/* ALLGEMEINE STYLES */

body {
    background-color: var(--off-black);
    color: var(--off-white);
    font-family: 'Montserrat', sans-serif;
    /* Hier wird das SVG als Hintergrundbild eingebunden */
    background-image: url('elements/ohrwurm-v3.svg');
    background-size: 110%; /* Das SVG wird an den Viewport angepasst */
    background-repeat: no-repeat; /* Das SVG wird nicht wiederholt */
    /* Die Hintergrundposition an den Seiten über den Viewport hinaus verschieben */
    background-position: 0px -200px; /* Beispiel für negative Werte */
}

a {
    text-decoration: none;
}

h2 {
    font-size: 64px;
    font-weight: 700; /* Bold */
    text-align: center; /* Center the text */
}

h3 {
    font-size: 64px;
    font-weight: 400; /* Regular */
}

h4 {
    font-size: 26px;
    font-weight: 700; /* Bold */
}

.categories-container h4 {
    color: var(--off-black); /* Change the color */
    text-align: center; /* Center the text */
    display: flex; /* Set the display to flex */   
    flex-direction: row; /* Set the direction to row */
    align-items: center; /* Align the items to the center */
}

.right h4, .left h4 {
    margin-top: 0; /* Setzen Sie die obere Marge auf 0, um sie zu entfernen */
}

h5 {
    font-size: 19px;
    font-weight: 700; /* Bold */
}

.song-of-the-week-container h5, .song-of-the-month-container h5, .song-of-the-year-container h5{
    margin: 0; /* Entfernen Sie den Standardmargenwert für die h5-Elemente */
}

.song-of-the-week-1 h5, .song-of-the-week-2 h5, .song-of-the-week-3 h5, .song-of-the-month-1 h5, .song-of-the-month-2 h5, .song-of-the-month-3 h5, .song-of-the-year-1 h5, .song-of-the-year-2 h5, .song-of-the-year-3 h5 {
    color: var(--tertiary-color); /* Change the color */
}

p {
    font-size: 19px;
    font-weight: 400; /* Regular */
}

.song-of-the-week-1 p, .song-of-the-week-2 p, .song-of-the-week-3 p, .song-of-the-month-1 p, .song-of-the-month-2 p, .song-of-the-month-3 p, .song-of-the-year-1 p, .song-of-the-year-2 p, .song-of-the-year-3 p {
    color: var(--tertiary-color);
}


/* DRAG & DROP */

.song-of-the-week-1, .song-of-the-week-2, .song-of-the-week-3, .song-of-the-month-1, .song-of-the-month-2, .song-of-the-month-3, .song-of-the-year-1, .song-of-the-year-2, .song-of-the-year-3{   
    cursor: pointer;
    background-color: var(--off-white);
    opacity: 0.8;
}

/* .song-of-the-week-2 {   
    cursor: pointer;
    background-color: var(--off-white);
    opacity: 0.8;
}

.song-of-the-week-3 {   
    cursor: pointer;
    background-color: var(--off-white);
    opacity: 0.8;
} */


/* GRID BODY */

.grid-container {
    display: grid;
    grid-template-rows: 1fr; /* Eine Zeile für den Header */
    grid-template-columns: repeat(7, 1fr); /* 7 gleichbreite Spalten */
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    margin: 0 10%; /* Margin von 70px links und rechts */
}

/*HEADER*/

header {
    grid-row: 1; /* Platzieren Sie den Header in der ersten Zeile */
    grid-column: 1 / span 7; /* Beginnt bei Spalte 1 und erstreckt sich über 7 Spalten */
    display: inline-grid; /* Setzt den Header auf inline-grid */
}

header img {
    width: 100%; /* Setzt die Breite des Bildes auf 100% der Breite des Elternelements (header) */
    height: auto; /* Stellt sicher, dass das Seitenverhältnis des Bildes beibehalten wird */
    display: block; /* Stellt sicher, dass das Bild blockartig ist und die volle Breite des Elternelements einnimmt */
    margin-top: 7%; /* Add a margin on top with the value of 20% */
    margin-bottom: 2%; /* Add a margin on bottom with the value of 20% */  
    
}

/*MAIN*/

main {
    grid-row: 2; /* Platzieren Sie das Main-Element in der zweiten Zeile */
    grid-column: 2 / span 5; /* Beginnt bei Spalte 2 und erstreckt sich über 5 Spalten */
}

.grid-main {
    display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(5, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: auto; /* Automatische Höhe für die Zeilen */
    }

.introduction {
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.categories-container {
    grid-row: 2; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Drei gleichbreite Spalten */
    grid-template-rows: 1fr; /* Eine Zeile für die Kategorien */
    grid-gap: 13%; /* Abstand zwischen den Boxen */
    margin-top: 3%; /* Add a margin on top with the value of 5% */
}

.categories-box-1 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 100%;
    background-color: var(--off-white);
    padding: 20px;
    box-sizing: border-box;
    aspect-ratio: 1/1; /* Set the aspect ratio to 1:1 */
    grid-row: 1; /* Platzieren Sie die Box in der ersten Zeile */
    grid-column: 1; /* Platzieren Sie die Box in der ersten Spalte */
}

.categories-box-2 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 100%;
    background-color: var(--off-white);
    padding: 20px;
    box-sizing: border-box;
    aspect-ratio: 1/1; /* Set the aspect ratio to 1:1 */
    grid-row: 1; /* Platzieren Sie die Box in der ersten Zeile */
    grid-column: 2; /* Platzieren Sie die Box in der ersten Spalte */
}

.categories-box-3 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 100%;
    background-color: var(--off-white);
    padding: 20px;
    box-sizing: border-box;
    aspect-ratio: 1/1; /* Set the aspect ratio to 1:1 */
    grid-row: 1; /* Platzieren Sie die Box in der ersten Zeile */
    grid-column: 3; /* Platzieren Sie die Box in der ersten Spalte */
}

/*SONG OF THE WEEK*/

.song-of-the-week {
    grid-row: 3; /* Platzieren Sie die Einführungssektion in der dritten Zeile */
    grid-column: 2 / span 6; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(6, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: auto; /* Automatische Höhe für die Zeilen */
}

.song-of-the-week-title {
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.song-of-the-week-container {
    grid-row: 2; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.podest-sotw {
    grid-row: 3; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(5, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: 1; /* Automatische Höhe für die Zeilen */
}

.podest-sotw-base {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 2px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-sotw-2 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 220px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 2 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-sotw-1 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 250px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 3 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-sotw-3 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 200px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 4 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.numbers-sotw {
    grid-row: 4; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 2 / span 3; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
   display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(3, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: auto; /* Automatische Höhe für die Zeilen */
}

/*RIGHT SIDE 1*/

.right {
    grid-row: 2; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 5 / span 2; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: first baseline;
}

.explanation-right-1 {
    text-align: right; /* Setze den Text rechtsbündig aus */
}

/*SONG OF THE MONTH*/

.song-of-the-month {
    grid-row: 5; /* Platzieren Sie die Einführungssektion in der dritten Zeile */
    grid-column: 1 / span 6; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(6, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: auto; /* Automatische Höhe für die Zeilen */
}

.song-of-the-month-title {
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 2 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.song-of-the-month-container {
    grid-row: 2; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 6 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    text-align: right; /* Setze den Text rechtsbündig aus */
}

.podest-sotm {
    grid-row: 3; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 2 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(5, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: 1; /* Automatische Höhe für die Zeilen */
}

.podest-sotm-base {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 2px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-sotm-2 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 220px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 2 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-sotm-1 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 250px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 3 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-sotm-3 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 200px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 4 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.numbers-sotm {
    grid-row: 4; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 3 / span 3; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
   display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(3, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: auto; /* Automatische Höhe für die Zeilen */
}

/*LEFT SIDE 1*/

.left {
    grid-row: 2; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 2; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.explanation-left-1 {
    text-align: left; /* Setze den Text linksbündig aus */
}


/*SONG OF THE YEAR*/

.song-of-the-year {
    grid-row: 7; /* Platzieren Sie die Einführungssektion in der dritten Zeile */
    grid-column: 2 / span 6; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(6, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: auto; /* Automatische Höhe für die Zeilen */
}

.song-of-the-year-title {
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.song-of-the-year-container {
    grid-row: 2; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.podest-soty {
    grid-row: 3; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(5, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: 1; /* Automatische Höhe für die Zeilen */
}

.podest-soty-base {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 2px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 1 / span 5; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-soty-2 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 220px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 2 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-soty-1 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 250px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 3 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.podest-soty-3 {
    width: 100%; /* 100% Breite, um die Spaltenbreite zu füllen */
    height: 200px;
    background-color: var(--off-white);
    box-sizing: border-box;
    grid-row: 1; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 4 / span 1; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
    align-self: end;
}

.numbers-soty {
    grid-row: 4; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 2 / span 3; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
   display: grid;
    grid-gap: 3%; /* Abstand zwischen den Elementen */
    grid-template-columns: repeat(3, 1fr); /* 7 gleichbreite Spalten */
    grid-template-rows: auto; /* Automatische Höhe für die Zeilen */
}

/*RIGHT SIDE 1*/

.right {
    grid-row: 2; /* Platzieren Sie die Einführungssektion in der zweiten Zeile */
    grid-column: 5 / span 2; /* Platzieren Sie die Einführungssektion in der zweiten Spalte, spannen */
}

.explanation-right-2 {
    text-align: right; /* Setze den Text rechtsbündig aus */
}

/* Media Query für Mobiltelefone (bis 576px) */
@media (max-width: 1000px) {
    body {
        background-repeat: repeat-y; /* Das SVG wird nicht wiederholt */
    }

    h2 {
        font-size: 2rem; /* Ändere die Schriftgröße für h2 auf Mobiltelefonen */
    }

    main {
        grid-column: 1 / span 7; /* Ändere die Breite des Hauptbereichs für Mobiltelefone */
    }

    .categories{
        display: flex;
        grid-gap: 5%;
        height: 100px;
    }

    .categories-box-1, .categories-box-2 , .categories-box-3  {
        aspect-ratio: auto;
        display: flex;
            align-items: center;
            justify-content: center;
        padding: 5px;
    }

    h4 {
        font-size: 16px;
        font-weight: 500; /* Bold */
        margin: auto;
    }

    p {
        font-size: 14px;
    }

    .grid-container {
        display: block;
    }

    .song-of-the-week-title, .song-of-the-month-title, .song-of-the-year-title {
        margin-top: 15%;
    }

    .right {
        text-align: center;
    }

    .explanation-right-1, .explanation-right-2 {
        text-align: center;
    }

    .song-of-the-week-container, .song-of-the-month-container, .song-of-the-year-container{
        display: flex;
        grid-gap: 5%;
        height: 120px;
        padding: 5% 0%;
    }

    .song-of-the-week-container h5, .song-of-the-month-container h5, .song-of-the-year-container h5{
        font-size: 14px;
        font-weight: 700;
    }

    .song-of-the-week-container p, .song-of-the-month-container p, .song-of-the-year-container p {
        font-size: 14px;
        font-weight: 500;
    }

    .song-of-the-week, .song-of-the-month, .song-of-the-year {
        display: block;
    }

    .song-of-the-week-1, .song-of-the-week-2, .song-of-the-week-3, 
    .song-of-the-month-1, .song-of-the-month-2, .song-of-the-month-3, 
    .song-of-the-year-1, .song-of-the-year-2, .song-of-the-year-3 {
        text-align: center;
        width: 30%;
        height: 100%;
    }


}
